nav {
    background-color: rgba(41, 39, 46, 0.541);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 15%;

}

#nav-items {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.listitem {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header {
    background-image: url(../assets/images/room1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.input-section {
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 30%;
    background-color: rgba(14, 12, 12, 0.664);
    padding: 30px;
    width: 75%;
    height: 11em;

}


.input-section input {

    width: 70%;
    height: 80px;
    padding-left: 3em;
    position: relative;
    top: 5em;



}

#id-button {
    background-color: red;
    width: 11em;
    height: 83px;
    color: white;
    border: none;
    position: relative;
    top: 5em;
}


nav button {
    height: 40px;
    width: 100px;
    margin: 10px;
    border-color: red;
    color: red;
}


* {
    padding: 0;
    margin: 0;
}

.main-section {
    width: 100%;
    background-color: rgb(241, 239, 239);
}

.main-cont {
    padding-top: 40px;
    padding-bottom: 100px;
    width: 70%;
    margin: auto;

}

.main-cont h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;


}

.flex-cont {
    display: flex;
    gap: 18px;
    margin-bottom: 3em;

}

.text-cont {
    width: 50%;
}

.image-cont {
    width: 50%;
}

.image-cont img {
    width: 100%;

}

.text-cont h2 {
    margin-bottom: 1.5em;
}

.text-cont p {
    color: rgb(31, 30, 30);
    margin: 0.7rem;
    line-height: 1.8;

}

.more {
    color: red;
    padding-top: 10px;
    padding-bottom: 5px;
}

.home-item img {
    width: 100%;
}

.flex-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

.home-item h3 {
    margin-top: 1.5em;

}

.home-item p {
    margin-top: 1em;
}

.home-item h4 {
    margin-top: 1em;
}

.black-section {
    background-color: rgb(52, 50, 50);
    width: 93%;
    margin: auto;
    height: 500px;
}

.down-text {
    text-align: center;
    padding-top: 5em;

}

.down-input {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.down-text h1 {
    color: white;
    font-size: 70px;
}

.down-text p {
    line-height: 2;
    margin-left: 11em;
    margin-right: 11em;
    color: white;
    margin-top: 3em;
}

.down-input input {
    padding-left: 3em;
    width: 25%;
    height: 60px;
    margin: 20px;
}

.down-input button {
    height: 63px;
    margin: 20px;
    width: 150px;
    background-color: red;
    border: none;
    color: white;
}

.last-section {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 5em;
}

.last-section img {
    width: 100;
    padding-left: 10px;
}

.lastsec-text {
    width: 50%;
    padding-right: 10px;
    
}

.last-section h1 {
    font-size: 75px;
    
}

.last-section p {
    line-height: 2;
}
